<app-body-seja></app-body-seja>

<div class="row">
    <div class="col-12">
        <img src="assets/colabore/Imagem4_1_Pagina4.jpg" alt="" width="680" height="auto">
        
    </div>
</div>
<div >
    <div class="row" >
        <div class="col" style="padding: 10px;">
            <a data-bs-toggle="modal" data-bs-target="#modalVideos" 
                style="padding: 10px;"
                (click)="copyPix('10')" > 
                <img src="assets/pix10.png" alt="" width="120" height="120">
            </a>
        
            <a data-bs-toggle="modal" data-bs-target="#modalAgradecimento" 
                style="padding: 10px;"
                (click)="copyPix('50')"> 
                <img src="assets/pix50.png" alt="" width="120" height="120">
            </a>
        
            <a data-bs-toggle="modal" data-bs-target="#modalAgradecimento" 
                style="padding: 10px;"
                (click)="copyPix('100')"> 
                <img src="assets/pix100.png" alt="" width="120" height="120">
            </a>
        
            <a data-bs-toggle="modal" data-bs-target="#modalAgradecimento" 
                style="padding: 10px;"
                (click)="copyPix('250')"> 
                <img src="assets/pix250.png" alt="" width="120" height="120">
            </a>
        
            <a data-bs-toggle="modal" data-bs-target="#modalAgradecimento" 
                style="padding: 10px;"
                (click)="copyPix('500')"> 
                <img src="assets/pix500.png" alt="" width="120" height="120">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <img src="assets/colabore/queroSerVoluntario.png" alt="" width="auto" height="800">
            
        </div>
    </div>
</div>
