<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="assets/Imagem1_Pagina1_CabecalhoRodape.png" alt="" width="100" height="100"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="/">|HOME|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="#">|INSTITUTO GINGAS|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="#">|DIN DOWN DOWN|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" routerLink="#">|AULAS DE CAPOEIRA|</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fw-bold" href="#">|COLABORE|</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link fw-bold" href="#">|TRANSPARÊNCIA|</a>
            </li>
        
            <li class="nav-item">
                <a class="nav-link fw-bold" href="#">|CONTATO|</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="#"><img src="assets/icon_insta.png" alt="" width="25" height="25"></a>
                <a class="navbar-brand" href="#"><img src="assets/icon_face.png" alt="" width="25" height="25"></a>
                <a class="navbar-brand" href="#"><img src="assets/icon_youtube.png" alt="" width="25" height="25"></a>
            </li>
        </ul>
        
      </div>
    </div>
  </nav>

