<nav class="navbar navbar-expand-lg fixed-top bg-white" color-on-scroll="500">
    <div class="container">
      <a class="navbar-brand" routerLink="/"><img src="assets/Imagem1_Pagina1_CabecalhoRodape.png" alt="" width="100" height="100"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="row">
        <div class="collapse navbar-collapse col-12" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/">|HOME|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/instituto">|INSTITUTO GINGAS|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="/dindowndown">|DIN DOWN DOWN|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" routerLink="#">|AULAS DE CAPOEIRA|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="/doacao">|COLABORE|</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">|TRANSPARÊNCIA|</a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">|CONTATO|</a>
                </li>
            </ul>
        </div>
        <div class="col-12">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="navbar-brand" href="#"><img src="assets/icon_insta.png" alt="" width="25" height="25"></a>
                    <a class="navbar-brand" href="#"><img src="assets/icon_face.png" alt="" width="25" height="25"></a>
                    <a class="navbar-brand" href="#"><img src="assets/icon_youtube.png" alt="" width="25" height="25"></a>
                    <!--<a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p>
                    </a>-->
                </li>
            </ul>
        </div>
        
      </div>
    </div>
  </nav>
  

