<div class="row">
    <div class="col-2">
        <a href="#" data-bs-toggle="modal" data-bs-target="#institutoGingas" > 
            <img src="assets/aulaCapoeira.png" alt="" width="auto" height="250">
        </a>
    </div>
    <div class="col-1" style="padding-left: 50px;">
        <div class="card" style="width: 25rem; height: 235px; border:0">
            <div class="card-body">
              <h5 class="card-title">QUER FAZER AULA DE CAPOEIRA ?</h5>
              <p class="card-text">ENTRE EM CONTATO CONOSCO</p>
              <br>
              <a href="#" class="btn "> <img src="assets/btn-whatsapp.png" alt="" width="auto" height="auto"></a>
              <a href="#" class="btn "> <img src="assets/btn_email.png" alt="" width="auto" height="auto"></a>
              <a href="#" class="btn "> <img src="assets/btn-enviar.png" alt="" width="auto" height="auto"></a>
            </div>
    </div>
</div>