<br><br><br><br>
<div class="row">
    <div class="col">
        <img src="assets/pagina03/1_titulo.png" alt="" width="800" height="250">
    </div>
</div>

<div class="row" style="cursor: pointer;">
    <div class="col">
        <a data-bs-toggle="modal" data-bs-target="#modalVideos" (click)="addSrc('Din Down Down','https://www.youtube.com/embed/huGMTq4ue1A')"> 
            <img src="assets/pagina03/2_video.png" alt="" width="800" height="405">
        </a>
    </div>
</div>

<div class="row" style="cursor: pointer;">
    <div class="col">
        <a data-bs-toggle="modal" data-bs-target="#modalVideos" (click)="addSrc('Din Down Down', 'https://www.youtube.com/embed/UHV05qZSpuI')"> 
            <img src="assets/pagina03/3_video.png" alt="" width="800" height="405"></a>
    </div>
</div>

<div class="row" style="cursor: pointer;">
    <div class="col">
        <a data-bs-toggle="modal" data-bs-target="#modalVideos" (click)="addSrc('Din Down Down', 'https://www.youtube.com/embed/UHV05qZSpuI')"> 
            <img src="assets/pagina03/4_video.png" alt="" width="800" height="405">
        </a>
    </div>
</div>

<div class="row" style="cursor: pointer;">
    <div class="col">
        <a data-bs-toggle="modal" data-bs-target="#modalVideos" (click)="addSrc('Din Down Down', 'https://www.youtube.com/embed/UHV05qZSpuI')"> 
            <img src="assets/pagina03/5_video.png" alt="" width="800" height="405">
        </a>
    </div>
</div>

<!-- Modal video instituto gingas-->
<div  class="modal fade" id="modalVideos" tabindex="-1" aria-labelledby="dindowndown" aria-hidden="true">
    <div class="modal-dialog modal-lg" >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalVideos">{{title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="fecharModal()"></button>
        </div>
        <div class="modal-body">
            <iframe id="myiframe" width="750" height="315" src="https://www.youtube.com/embed/huGMTq4ue1A"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="fecharModal()"> Fechar</button>
        </div>
      </div>
    </div>
</div>

