<div class="row " > oi
    <div class="col-12 ">
        <img class="img-responsive" src="assets/pagina02/1_missao_visao_valores.png" alt="" width="800" height="300">
    </div>
    
    <div class="col-12">
        <img class="img-responsive" src="assets/pagina02/2_essa_e_nossa_missao.png" alt="" width="auto" height="350">
    </div>

    <div class="col-12">
        <img class="img-responsive" src="assets/pagina02/3_essa_e_nossa_visao.png" alt="" width="800" height="550">
    </div>

    <div class="col-12">
        <img class="img-responsive" src="assets/pagina02/4_quadros.png" alt="" width="800" height="450">
    </div>

    <div class="col-12">
        <img class="img-responsive" src="assets/pagina02/5_nossos_valores.png" alt="" width="800" height="450">
    </div>
</div>

