<div class="row " >
    <div class="col-xl-12 justify-content-center" >
        <a routerLink="/doacao"> 
            <img src="assets/doacao.png" alt="" width="auto" height="250">
        </a>
    
        <a href="#" data-bs-toggle="modal" data-bs-target="#dindowndown" > 
            <img src="assets/sejaNossoParceiro.png" alt="" width="auto" height="250"></a>
    
    
        <a href="#" data-bs-toggle="modal" data-bs-target="#colabore"> 
            <img src="assets/sejaNossoVoluntario.png" alt="" width="auto" height="250">
        </a>
    </div>
</div>

