<div class="row" >
    <div class="col-12">
        <a routerLink="/doacao"> 
            <img class="img-responsive" src="assets/doacao.png" alt="" width="auto" height="250">
        </a>
    
        <a href="#" data-bs-toggle="modal" data-bs-target="#dindowndown" > 
            <img class="img-responsive" src="assets/sejaNossoParceiro.png" alt="" width="auto" height="250"></a>
    
    
        <a href="#" data-bs-toggle="modal" data-bs-target="#colabore"> 
            <img class="img-responsive" src="assets/sejaNossoVoluntario.png" alt="" width="auto" height="250">
        </a>
    </div>
</div>

